<div infinite-scroll [infiniteScrollDisabled]="!hasMore$.value" [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="500" (scrolled)="loadMore()">
  <ng-container *ngFor="let item of currentPageData$ | async; trackBy: identify;">
    <app-user-card [payload]="item" [followFeature]="true"
    (onUnfollowClick)="onUnfollowClick($event)"
    (onFollowClick)="onFollowClick($event)"
    />
  </ng-container>
</div>

<div class="infinity">
  <ng-container *ngIf="(apiStatus$ | async)===ApiStatusEnum.LOADING">
    <app-full-loading></app-full-loading>
  </ng-container>

  <ng-container *ngIf="(hasMore$|async)===false">
    <p class="nodata text-center ">No more user </p>
  </ng-container>
</div>
