.logout-modal {
  @apply min-h-screen w-full bg-secondary bg-opacity-50 fixed top-0 left-0 flex justify-center items-center;

  .content-wrapper {
    @apply animate-fade-up animate-duration-300  bg-white rounded-lg relative p-5;

    .logo-wrapper {
      @apply w-full flex justify-center mt-2;
      img {
        @apply w-10;
      }
    }

    .body-wrapper {
      @apply py-2  sm:w-[275px] mx-auto;

      h3 {
        @apply font-semibold text-lg mb-2;
      }
      .context-text {
        @apply text-sm;
      }

      .login-btn {
        @apply mt-6 w-full px-2 py-3 bg-secondary hover:bg-opacity-90 transition-all rounded-full text-white font-semibold;
      }

      .cancel-btn {
        @apply mt-4 w-full px-2 py-2 bg-white hover:bg-opacity-90 transition-all rounded-full text-gray-800 font-semibold border border-gray-400;
      }
    }
  }
}
