<div class="sing-in">
  <div class="content-wrapper">
    <a routerLink="/auth" class="close-btn">
      <svg viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M18 6l-12 12" />
        <path d="M6 6l12 12" />
      </svg>
    </a>
    <div class="logo-wrapper">
      <img src="../../../../../assets/icon-svg.svg" alt="logo" />
    </div>

    <div class="login-wrapper relative">


      <app-full-loading *ngIf="(status$|async)==statusEnum.LOADING" />


      <h3>Create your account</h3>


      <form [formGroup]="validateForm" (submit)="onSubmit()">
        <div>
          <input type="text" placeholder="email" formControlName="email" />

          <div *ngIf="validateForm.controls['email'].touched">

            <p class="text-red-400 animate-fade" *ngIf="validateForm.controls['email'].hasError('email')">
              not a valid email
            </p>
            <p class="text-red-400 animate-fade " *ngIf="validateForm.controls['email'].hasError('required')">
              email is required
            </p>
          </div>


        </div>
        <div>
          <input type="text" placeholder="username" formControlName="username" />

          <div *ngIf="validateForm.controls['username'].touched">


            <p class="text-red-400 animate-fade " *ngIf="validateForm.controls['username'].hasError('required')">
              username is required
            </p>
          </div>


        </div>

        <div>
          <input type="password" placeholder="password" formControlName="password" />

          <div *ngIf="validateForm.controls['password'].touched" class="">
            <p class="text-red-400 animate-fade " *ngIf="validateForm.controls['password'].hasError('required')">
              password is required
            </p>
          </div>
        </div>

        <p class="text-red-400 animate-fade " *ngIf="(status$|async)==statusEnum.ERROR">
          Sorry, we could not create your account.
        </p>

        <button class="login-btn" type="submit">
          Sign up </button>

      </form>

      <br>
      <p class="footer-text">
        Already have an account? <a routerLink="/auth/signin">Sign in</a>
      </p>

    </div>

  </div>

</div>