<div class="tweet-card animate-fade-up animate-duration-300 break-words ">
  <div class="inner">

    <div class="flex flex-shrink-0 p-4 pb-0">
      <div class="user-info">
        <div class="info-wrapper">
          <a [routerLink]="['/',payload.user.id]">
            <img src="/assets/icon-ios.77d25eba.png" alt="Twitte: Your Home Of Thoughts " />
          </a>
          <div class="ml-3">
            <a [routerLink]="['/',payload.user.id]" class="text-base leading-6 font-medium">
              {{ payload.user.username }}

            </a>
            <p class="block sm:inline text-sm leading-5 font-medium text-gray-400 transition ease-in-out duration-150">
              @{{ payload.user.username }} ...

              <span class="text-xs"> {{ payload.published | timeago }}</span>

            </p>

          </div>
        </div>
      </div>
    </div>
    <div class="pl-5 sm:pl-16 overflow-hidden p-4 ">
      <div class="text-base width-auto font-medium flex-shrink">
        {{payload.content}}

      </div>
    </div>
  </div>

</div>