<div class="aside-menu-inner">
  <aside class="aside-nav">
    <a class="w-[52px] block">
      <img src="../../../assets/icon-svg.svg" alt="" />
    </a>
    <a routerLink="/home" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <svg class="mr-4 h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M3 12l9-9 9 9M5 10v10a1 1 0 001 1h3a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1h3a1 1 0 001-1V10M9 21h6" />
      </svg>
      <span>Home</span>
    </a>
    <a routerLink="/explore" class="nav-item " routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <svg class="mr-4 h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        stroke="currentColor" viewBox="0 0 24 24">
        <path d="M7 20l4-16m2 16l4-16M6 9h14M4 15h14"></path>
      </svg>

      <span>Explore</span>
    </a>

    <a [routerLink]="['/', user?.id]" class="nav-item" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:false,queryParams: 'exact'}">
      <svg class="mr-4 h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        stroke="currentColor" viewBox="0 0 24 24">
        <path d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
      </svg>
      <span>Profile</span>
    </a>

    <button routerLink="/logout" class="logout-btn">Log out</button>
  </aside>





  <div class=" bottom-8 relative px-2">

    <div class="avatar-menu" [ngClass]="{'hidden': !showAvatarMenu}">
      <svg viewBox="0 0 24 24" aria-hidden="true">
        <g>
          <path d="M22 17H2L12 6l10 11z"></path>
        </g>
      </svg>
      <ul>
        <li>
          <a (click)="toggleAvatarMenu()" [routerLink]="['/',user.id]">Profile</a>
        </li>
        <li>
          <a (click)="toggleAvatarMenu()" [routerLink]="['/logout']">Log out</a>
        </li>
      </ul>
    </div>

    <div class="user-profile-icon " (click)="toggleAvatarMenu()">

      <div class="flex-shrink-0 group block">
        <div class="flex items-center">
          <button>
            <img class="inline-block h-10 w-10 rounded-full" src="/assets/icon-ios.77d25eba.png" alt="" />
          </button>
          <div class="ml-3 lg:block hidden">
            <p class="text-base leading-6 font-medium">welcome</p>

          </div>
        </div>
      </div>


      <div class="logout-option-btn">
        <svg viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
          <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
          <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
        </svg>
      </div>
    </div>



  </div>
</div>