<div class=" relative">
  <div class="flex bg-white sticky top-0 z-10 shadow-sm">
    <div class="flex-1 m-2">
      <h2 class="px-4 py-2 text-xl font-semibold">Home</h2>
    </div>

  </div>


  <app-tweet-post />


  <div infinite-scroll [infiniteScrollDisabled]="!hasMore$.value" [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="500" (scrolled)="loadMore()">
    <ng-container *ngFor="let item of currentPageData$ | async; trackBy: identify;">
      <app-tweet-card [payload]="item" />
    </ng-container>
  </div>

  <div class="infinity">
    <ng-container *ngIf="(apiStatus$ | async)===ApiStatusEnum.LOADING">
      <app-full-loading></app-full-loading>
    </ng-container>

    <ng-container *ngIf="(hasMore$|async)===false">
      <p class="nodata text-center ">No more tweet</p>
    </ng-container>
  </div>

</div>