<div class="grid grid-cols-3 relative">
  <div
    class="col-span-3 lg:col-span-2 border border-gray-300 h-auto border-t-0"
  >


    <div class="flex bg-white sticky top-0 z-10">
      <div class="flex-1 m-2">
        <h2 class="px-4 py-2 text-xl font-semibold">Home</h2>
      </div>
     
    </div>
    <hr class="border-gray-200" />

    <app-tweet-post />
    <hr class="border-gray-200" />

    <ng-container
      *ngFor="let tweet of currentPageData$ | async; trackBy: identify"
    >
      <app-tweet-card [tweet]="tweet" />
    </ng-container>

    <div
      class="infinity"
      *ngIf="hasMore$ | async; else noMoredata"
      infiniteScroll
      (scrolled)="loadMore()"
    >
      <div class="relative">
        <app-full-loading></app-full-loading>
      </div>
    </div>

    <ng-template #noMoredata>
      <div class="h-32">
        <p class="text-center">no more tweet</p>
      </div>
    </ng-template>
  </div>
  <div class="col-span-1 h-screen hidden lg:block sticky top-0 right-0">
    <app-user-list></app-user-list>
  </div>
</div>
