<div class="user-card animate-fade-up animate-duration-300">
  <div class="inner">

    <a class="user-info" [routerLink]="['/', payload.id]">
      <div class="user-img-wrapper">
        <img src="/assets/icon-ios.77d25eba.png" alt="Twitte: Your Home Of Thoughts " />
      </div>
      <div class="info-wrapper">
        <p class="name">{{ payload?.username }}</p>
        <p class="user-name">@{{ payload?.username }}</p>
      </div>
    </a>

    <ng-container *ngIf="followFeature">

      <ng-container *ngIf="isFollowing;else notFollowing">
        <button class="following-btn" (click)="unfollow()" >
          <span>Following</span>
        </button>
      </ng-container>

      <ng-template #notFollowing >
        <button class="follow-btn" (click)="follow()">Follow</button>
      </ng-template>

    </ng-container>


  </div>
</div>