<div class="grid grid-cols-3">
  <div class="col-span-3 lg:col-span-2 border border-gray-300 h-auto border-t-0">

    <div class="flex bg-white sticky top-0 z-10">
      <div class="flex-1 m-2">
        <h2 class="px-4 py-2 text-xl font-semibold">Explore</h2>
      </div>
     

    </div>
    <hr class="border-gray-200" />


    <ng-container *ngFor="let user of (currentPageData$ | async);trackBy:identify">
      <app-user-card [user]="user"></app-user-card>
      <hr class="border-gray-200" />

    </ng-container>




    <div class="infinity" *ngIf="hasMore$ | async; else noMoredata" infiniteScroll [infiniteScrollDistance]="90"
      [infiniteScrollThrottle]="50" (scrolled)="loadMore()">
      <div class="relative">
        <app-full-loading></app-full-loading>

      </div>



    </div>


    <ng-template #noMoredata>
      <div class="h-32">
        <p class="text-center">no more user</p>
      </div>
    </ng-template>
  </div>

</div>