
  <div class="">
    <div class="flex bg-white sticky top-0 z-10">
      <div class="flex-1 m-2">
        <h2 class="px-4 py-2 text-xl font-semibold">Explore</h2>
      </div>


    </div>
    <hr class="border-gray-200" />

    <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500" (scrolled)="loadMore()">
      <ng-container *ngFor="let item of (currentPageData$ | async);trackBy:identify">
        <app-user-card [payload]="item" [followFeature]="true" [isFollowing]="false"></app-user-card>
      </ng-container>
    </div>

    <div class="infinity" *ngIf="hasMore$ | async; else noMoredata">
      <app-full-loading></app-full-loading>
    </div>
    <ng-template #noMoredata>
      <div class="h-32">
        <p class="text-center">No more data</p>
      </div>
    </ng-template>
  </div>

