<router-outlet></router-outlet>

<div class="pwa-modal" *ngIf="shouldInstall() && showBar">
    <div class="modal-body">


        <button class="btn bg-secondary" (click)="installPWA()">Install App</button>
        <button class="btn bg-white !text-gray-800 outline" (click)="reload()"> Reload </button>

        <button (click)="close()" class="close-btn">
            <svg viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M18 6l-12 12" />
                <path d="M6 6l12 12" />
            </svg>
        </button>

    </div>

</div>