<div>
  <div infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500" (scrolled)="loadMore()">
    <ng-container *ngFor="let user of currentPageData$ | async; trackBy: identify">
      <app-user-card [user]="user" />
    </ng-container>
  </div>

  <div class="infinity" *ngIf="hasMore$ | async; else noMoredata">
    <app-full-loading></app-full-loading>
  </div>

  <ng-template #noMoredata>
    <div class="h-32">
      <p class="text-center">no more user</p>
    </div>
  </ng-template>
</div>