<div class="user-profile">
  <div class="user-profile-imgs">
    <div class="cover-img-wrapper">
      <img src="/assets/icon-ios.77d25eba.png" alt="cover image" />
    </div>

    <div class="profile-img-wrapper">
      <img src="/assets/icon-ios.77d25eba.png" alt="" />
    </div>
  </div>
  <div class="edit-btn-wrapper">
    <!-- <button *ngIf="myProfile" >Edit profile</button> -->
    <button *ngIf="!myProfile">follow</button>
  </div>

  <div class="profile-info-content">

  </div>

  <div class="profile-layout-wrapper ">
    <div class="profile-menu-wrapper">
      <ul>
        <li>
          <a [routerLink]="['/', userId]" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Tweets</a>
        </li>
        <li>
          <a [routerLink]="['/', userId, 'following']" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Following</a>
        </li>
        <li>
          <a [routerLink]="['/', userId, 'followers']" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Followers</a>
        </li>
      </ul>
    </div>

    <div class="profile-layout-slot">
      <router-outlet (activate)="onOutletLoaded($event)"></router-outlet>
    </div>
  </div>
</div>