<div class="user-profile">
  <div class="user-profile-imgs">
    <div class="cover-img-wrapper">
      <img src="/assets/icon-ios.77d25eba.png" alt="cover image" />
    </div>

    <div class="profile-img-wrapper">
      <img src="/assets/icon-ios.77d25eba.png" alt="Twitte: Your Home Of Thoughts " />
    </div>
  </div>
  <div class="edit-btn-wrapper">
    <button *ngIf="myProfile">Edit profile</button>

    <ng-container *ngIf="!myProfile">

      <ng-container *ngIf="isFollowing;else notFollowing">
        <button class="following-btn" (click)="unfollow()">
          <span>Following</span>
        </button>
        <!-- <button class="follow-btn">Unfollow</button> -->
      </ng-container>

      <ng-template #notFollowing>
        <button class="follow-btn" (click)="follow()">Follow</button>
      </ng-template>

    </ng-container>


  </div>

  <div class="profile-info-content">

  </div>

  <div class="profile-layout-wrapper ">
    <div class="profile-menu-wrapper">
      <ul>
        <li>
          <a [routerLink]="['/', userId]" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Tweets</a>
        </li>
        <li>
          <a [routerLink]="['/', userId, 'following']" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Following</a>
        </li>
        <li>
          <a [routerLink]="['/', userId, 'followers']" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Followers</a>
        </li>
      </ul>
    </div>

    <div class="profile-layout-slot">
      <router-outlet (activate)="onOutletLoaded($event)"></router-outlet>
    </div>
  </div>
</div>